extends ./layout

block content
	div.container
		h1= title 
		p Welcome to #{title}
		div.row.mail-title
			label 邮件标题：
			input(type="text" placeholder="请输入邮件标题")
		br
		div.row.mail-content
			label 邮件内容：
			textarea(type="text" cols="30" rows="10" placeholder="请输入邮件内容")
		br
		div.row.mail-send
			a.send-btn(href="/send") 发送邮件	
